#settingsTab {
    background-color: $asphalt;
}

.settingsTabButton {
    display: block;
    font-size: 0;
    background-image: url('../assets/settings.svg');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: fixed;
    top: 18px;
    right: 20px;
    opacity: 0.5;
    outline: 0;
    &:hover {
        cursor: pointer;
    }
}

.settingName {
    float: left;
    text-align: left;
    letter-spacing: 0.3px;
}

.settingIcon {
    opacity: 0.5;
}

.settingsSelect {
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 90px;
    padding: 4px 8px;
    border-radius: var(--input-border-radius);
    border: 1px solid darken($midnight, 3%);
    background-color: $midnight;
}