.balance {
    color: $peter;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    background-color: darken($midnight, 4%);
    letter-spacing: 1px;
    min-height: 66px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 5.5, 1);
    .balanceAmount {
        padding-top: 10px;
    }
}

.closed {
    min-height: 0;
}